*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.usertasks
.DS_Store
Library
Temp
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-firstpass.pidb
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript.pidb
/Assembly-UnityScript.unityproj